body{
  background-color: white;
}

title{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.container{
  
    overflow: hidden;
    width: 98%;
    max-width: 105%;
    padding: 10px;
    margin: auto;
    display: inline-block;
    border-radius: 7px;

}

.containers{
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 96%;
    max-width: 100%;
    padding: 10px;
    margin: auto;
    display: inline-block;
}

.btn {
  background-color: rgb(6, 65, 44);
  color: white;
  width: 100px;
}

#form-control input {
    background-color: #fff;
    width: 30%;
    max-width: 100%;
    padding: 20px;
    margin: 0 0 3px;
    height: 50px;
    display: inline-block;
    border: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.result{
  border: 0;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  width: 97%;
  max-width: 105%;
  padding: 4px;
  margin: 0 0 3px;
  height: 200px;
}